#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 1
#define MARK 2
#define CURSOR 3
#define FUNCTION 4
#define SCROLL 5
#define WIRELESS 6

//mouse cursol

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

//mouse scroll

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

&msc_input_listener {
    speed_up {
        layers = <FUNCTION>;
        input-processors = <&zip_wheel_scaler 3 1>; //スクロールを3倍速にする
    };
};

&mkp_input_listener { input-processors = <&zip_temp_layer 1 10000>; };

&trackball_listener {
    scroller {
        layers = <SCROLL>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            //スクロール方向を逆転,,,,,,,,,,,,,,,,,,,,,,,
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_us {
            bindings = <&kp LANG2>;
            key-positions = <21 22>;
            timeout-ms = <50>;
        };

        combo_kana {
            bindings = <&kp LANG1>;
            key-positions = <27 28>;
            timeout-ms = <50>;
        };

        L_CTRL {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <11 10>;
        };

        L_SHIFT {
            bindings = <&kp LSHIFT>;
            key-positions = <20 21>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <18 19>;
        };

        R_SHIFT {
            bindings = <&kp RSHIFT>;
            key-positions = <28 29>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        mo_BT {
            bindings = <&mo 6>;
            key-positions = <30 31>;
        };

        STUDIO_UNLOCK {
            bindings = <&studio_unlock>;
            key-positions = <30 31 39 40>;
        };

        mo_num {
            bindings = <&mo 3>;
            key-positions = <12 13>;
        };

        left_return {
            bindings = <&kp RET>;
            key-positions = <22 23>;
        };

        left {
            bindings = <&kp LEFT_ARROW>;
            key-positions = <16 17>;
            require-prior-idle-ms = <50>;
        };

        right {
            bindings = <&kp RIGHT>;
            key-positions = <17 18>;
            require-prior-idle-ms = <50>;
        };

        L_LANG2 {
            bindings = <&kp LANG2>;
            key-positions = <1 2>;
            require-prior-idle-ms = <50>;
        };

        R_LANG1 {
            bindings = <&kp LANG1>;
            key-positions = <7 8>;
            require-prior-idle-ms = <50>;
        };
    };

    behaviors {
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        mod_tap: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
        };

        layer_tap_thumb: layer_tap_thumb {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_THUMB";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            require-prior-idle-ms = <50>;
            flavor = "tap-preferred";
            quick-tap-ms = <100>;
            hold-while-undecided;
        };

        layer_tap: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <50>;
            flavor = "tap-preferred";
            quick-tap-ms = <100>;
        };

        mo_Z: mo_Z {
            compatible = "zmk,behavior-mod-morph";
            label = "MO_Z";
            bindings = <&mod_tap LSHIFT Z>, <&kp LG(LS(Z))>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LGUI|MOD_LSFT)>;
        };

        mo_minus: mo_minus {
            compatible = "zmk,behavior-mod-morph";
            label = "MO_MINUS";
            bindings = <&mod_tap RCTRL MINUS>, <&kp LC(SEMICOLON)>;

            #binding-cells = <0>;
            keep-mods = <(MOD_LCTL)>;
            mods = <(MOD_LCTL)>;
        };
    };

    macros {
        space_retrn: space_retrn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp RETURN>;
            label = "SPACE_RETRN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                    &kp W     &kp E            &kp R                &kp T                                                                                   &kp Y                   &kp U            &kp I                &kp O                  &kp P
&mod_tap LEFT_CONTROL A  &kp S     &mod_tap LALT D  &mod_tap LGUI F      &layer_tap 5 G                                                                          &kp H                   &kp J            &kp K                &kp L                  &mo_minus
&mo_Z                    &kp X     &mod_tap LALT C  &mod_tap LEFT_GUI V  &kp B                                                                                   &kp N                   &mod_tap RGUI M  &mod_tap LALT COMMA  &mod_tap LCTRL PERIOD  &mod_tap RSHIFT SLASH
&kp LSHIFT               &kp LALT  &mt LCMD LANG2   &none                &layer_tap_thumb 2 SPACE  &layer_tap_thumb 4 BACKSPACE    &layer_tap_thumb 4 BACKSPACE  &layer_tap_thumb 2 RET                   &mt RGUI LANG1       &kp RALT               &mo 3
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans    &mkp MB4   &mkp MB4   &mkp MB4   &trans
&trans  &trans  &trans  &trans  &trans                    &mkp MB5  &mkp LCLK  &mkp RCLK  &mkp MCLK  &to 0
&trans  &trans  &trans  &trans  &trans                    &trans    &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans               &trans     &trans     &trans
            >;
        };

        SYMBOL {
            bindings = <
&kp EXCLAMATION  &kp AT     &kp HASH              &kp DOLLAR         &kp PERCENT                                  &kp CARET     &kp AMPERSAND  &kp LBKT  &kp RBKT  &kp ASTERISK
&kp LCTRL        &kp TILDE  &kp PIPE              &kp DOUBLE_QUOTES  &kp SQT                                      &kp COLON     &kp SEMICOLON  &kp LBRC  &kp RBRC  &kp UNDERSCORE
&kp LEFT_SHIFT   &kp GRAVE  &kp NON_US_BACKSLASH  &kp EQUAL          &kp PLUS                                     &kp LPAR      &kp RPAR       &kp LT    &kp GT    &kp QUESTION
&trans           &trans     &trans                &trans             &trans       &kp LA(SPACE)    &kp LA(SPACE)  &space_retrn                 &kp LPAR  &kp RPAR  &trans
            >;

            sensor-bindings = <&re_kp LA(LS(C_VOLUME_UP)) LA(LS(C_VOL_DN))>;
        };

        NUM {
            bindings = <
&kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp COLON
&kp LEFT_CONTROL  &none         &none         &none         &kp F17                         &kp SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&kp LSHIFT        &none         &none         &none         &kp F16                         &kp ASTERISK  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
&trans            &trans        &trans        &trans        &trans        &trans    &trans  &kp NUMBER_0                &kp COMMA     &kp PERIOD    &kp EQUAL
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE  &kp LC(LS(TAB))     &kp UP_ARROW      &kp LC(TAB)    &kp F15                                  &kp LG(LEFT_ARROW)  &kp LG(DOWN)        &kp LG(UP_ARROW)  &kp LG(RIGHT)  &kp ESCAPE
&kp LCTRL   &kp LEFT_ARROW      &kp DOWN_ARROW    &kp RIGHT      &kp F14                                  &kp LEFT_ARROW      &kp DOWN            &kp UP_ARROW      &kp RIGHT      &kp TAB
&kp LSHIFT  &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT)  &kp F13                                  &kp LA(LEFT_ARROW)  &kp LA(DOWN_ARROW)  &kp LA(UP_ARROW)  &kp LA(RIGHT)  &kp RSHIFT
&trans      &trans              &trans            &trans         &kp F15  &kp BACKSPACE    &kp BACKSPACE  &kp F15                                 &trans            &trans         &kp LC(ESCAPE)
            >;

            sensor-bindings = <&re_kp LA(LS(C_VOLUME_UP)) LA(LS(C_VOLUME_DOWN))>;
        };

        UTIL {
            bindings = <
&kp ESC    &kp LS(LA(TAB))   &kp LC(LA(UP_ARROW))    &kp LA(TAB)        &none                     &none    &none  &none   &none   &kp ESC
&kp LCTRL  &kp LC(LA(LEFT))  &kp LC(LA(DOWN_ARROW))  &kp LC(LA(RIGHT))  &none                     &kp F17  &none  &none   &none   &kp RCTRL
&kp LSHFT  &none             &kp LC(LA(S))           &none              &none                     &kp F16  &none  &none   &none   &kp RSHFT
&trans     &trans            &trans                  &trans             &trans  &trans    &trans  &trans          &trans  &trans  &trans
            >;
        };

        BT {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                         &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans        &trans        &trans        &trans        &trans                               &trans          &trans        &trans        &trans        &trans
&trans        &trans        &trans        &trans        &trans                               &trans          &trans        &trans        &trans        &bt BT_CLR
&trans        &trans        &trans        &trans        &trans        &trans    &bootloader  &studio_unlock                &trans        &trans        &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };
    };
};
